name: Go

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: self-hosted
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        cache: false

    - name: Build
      run: go build -v ./...

    - name: Test
      run: CGO_ENABLED=1 go test -v -race ./...
